* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #548687;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    background-color: light yellow;
    color: pink;
}

#reset_btn {
    padding: 1rem;
    background-color: black;
    color: #fff;
    border-radius: 1rem;
    border: none;
    font-size: 1.25rem;
}


#new_btn {
    padding: 1rem;
    background-color: black;
    color: #fff;
    border-radius: 1rem;
    border: none;
    font-size: 1.25rem;
}

#msg {
    color: #fff;
    font-size: 5vmin;
}

.msg_container {
    height: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.hide {
    display: none;
}

.x {
    color: #ff4dfd;
    text-shadow: 0 0 10px #ff4dfd;
}

.o {
    color: #339af0;
    text-shadow: 0 0 10px #339af0;
}
